/*-------------------------------Start arriba-----------------------*/
.arriba {
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arriba h1 {
    margin-bottom: 1%;
}

.arriba hr {
    margin-top: 0%;
    margin-bottom: 0%;
}

.arriba p {
    margin-top: 1%;
}

/*-------------------------------END arriba-----------------------*/
/*------------------------Start Paquetes Desarrollo Web-----------------------*/
.paquetes {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.desarrollo-web-basico {
    background-color: white;
    color: black;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    border-radius: 10px;
}

.desarrollo-web-nombre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
}

.desarrollo-web-nombre h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 105%;
}

.desarrollo-web-imagen img {
    width: 300px;
}

.desarrollo-web-descripcion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desarrollo-web-descripcion h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 90%;
}

.desarrollo-web-beneficio {
    display: flex;
    flex-direction: column;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.desarrollo-web-beneficio .negrita {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 100%;
}

.desarrollo-web-beneficio h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 90%;
}

.desarrollo-web-precio h2 {
    display: flex;
    justify-content: flex-end;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 90%;
}

/*-----------------------End Paquetes Desarrollo Web--------------------------*/
/*------------------------Start slider trabajos anteriores-----------------------------*/
.trabajos-anteriores{
    margin: 10px;
}
.trabajos-anteriores h2{
    margin: 10px;
}
.body-swiper{
    position: relative;
    height: 100%;
    margin: 10px;
}
.separacion{
    margin: 20px 0px;
}
.swiper{
    width: 90%;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.swiper-slide i{
    font-size: 20px;
    margin: 10px;
    color: white;
}
.swiper-slide img{
    display: block;
    width: 600px;
    height: 500px;
    border-radius: 2%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4) ;
}
/*------------------------End slider trabajos anteriores-----------------------------*/
/*--------------------------Start proceso de desarrollo----------------------------------*/
.proceso-desarrollo {
    background-color: #171717;
    border-radius: 5px;
}

.desarrollo {
    background-color: #171717;
    margin: 10px;
}

.desarrollo h2 {
    padding: 10px 0px 0px 0px;
    margin: 10px;
}
.borde{
    padding: 10px 0px 20px 0px;
}
.timeline {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4) ;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.event {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space {
    margin: 11.5px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.circle:hover{
    transform: rotate(45deg);
}

.linea-horizontal {
    margin: 36px;
    border: none;
    width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    z-index: 0;
}

.tooltip {
    display: none;
    position: absolute;
    z-index: 2;
    width: 150px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
}

/*--------------------------END proceso de desarrollo----------------------------------*/
/*------------------------Start comentarios-------------------------------*/
.comentarios {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.comentarios h2 {
    margin: 10px;
}

.usuario {
    display: flex;
    gap: 1rem;
    margin: 10px;
}

.foto {
    width: 5%;
}

.foto img {
    width: 53px;
}

.usuario-comentario {
    display: flex;
    flex-direction: column;
}

.nombre-usuario p {
    margin: 0%;
}

.comentario {
    margin: 0%;
    background: #171717;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

.comentario p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/*-------------------------end comentarios--------------------------------*/