/*--------------------------------------Start encabezado cliente-------------------------------------*/
.encabezado-cliente{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.encabezado-cleinte-container{
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.perfil,
.actividad-option{
    background-color: #171717;
    color: #fff;
    height: 100px;
    text-align: center;
}
.perfil{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.foto{
    width: 98px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: moveRightLeft 7s ease-in-out infinite;
}
@keyframes moveRightLeft {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-5px);
    }
}
.foto img{
    width: 80px;
    height: 80px;
}
.actividad-option{
    width: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.actividad-option i{
    cursor: pointer;
    position: absolute;
    top: 125px;
    right: 5%;
    background-color: #fff;
    color: #171717;
    padding: 4px 10px;
    border-radius: 15px;
}
.actividad,
.option{
    display: none;
}
.actividad{
    display: flex;
    align-items: center;
    justify-content: center;
}
.option{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

/*--------------------------------------End encabezado cliente-------------------------------------*/
/*-------------------------------------Start opciones content--------------------------------------*/
.opciones-content{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 10px;
    display: none;
}
.container-opciones-content{
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}
.titulo-opciones{
    background-color: #171717;
    border: 2px solid rgb(255, 255, 255);
    width: 57%;
}
.opciones-content h2{
    text-align: center;
}
/*-------------------------------------End opciones content--------------------------------------*/