.container-noticias{
    color: rgb(95, 94, 94);
    text-align: justify;
    align-content: space-between;
}

.container-noticias h2{
    margin: 20px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
}
nav{
    text-align: center;
    margin-bottom: 20px;
}
nav span{
    display: inline-block;
    background-color: rgb(73, 72, 72);
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 0 5px;
    cursor: pointer;
}
nav span:hover{
    color: rgb(77, 77, 77);
}
header input{
    padding: 5px 10px;
    border: none;
    border: 2px solid #ccc;
    border-radius: 30px;
}
header button{
    border: none;
    padding: 7px 10px;
    border-radius: 30px;
    border: 2px solid #ccc;
}
.container-noticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:30px;
    padding-bottom: 20px;
}

@media screen and (max-width: 400px) {
    .busqueda{
        justify-content: center;
    }
    .container-noticias{
        
        justify-content: center;
    }  
}
@media screen and (max-width: 600px) {
    .busqueda{
        justify-content: center;
    }
    .container-noticias{
        
        justify-content: center;
    }   
    .footer-info{
        display: none;
    }
}
@media screen and (max-width: 780px) {
    
    .footer-info{
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .busqueda{
        justify-content: center;
    }
    .container-noticias{
        
        justify-content: center;
    }    
}
@media screen and (max-width: 1210px) {
    .busqueda{
        justify-content: center;
    }
    .container-noticias{
        
        justify-content: center;
    }    
}
.item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    height: 420px;
  }
  .item h2 {
    margin: 10px;
    font-size: 16px;
  }

  .item img {
    width: 100%;
    height: 250px;
  }

  .info_item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
.container-noticias .item{
    background-color: rgb(255, 255, 255);
    max-width: 360px;
    flex-direction: column;
    border: 0px solid rgb(65, 63, 63);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

.container-noticias .item:hover{
    box-shadow: 0 0 15px 2px #ccc;
}
.container-noticias .item:hover h2{
    text-decoration: underline;
}
.container-noticias .item .info_item{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: flex-end;
}
.container-noticias .item{
    align-content: space-between;
}

.container-noticias .item img{
    width: 100%;
}
.container-noticias #btnSiguiente{
    cursor: pointer;
}
.container-noticias #btnSiguiente:hover{
    color: #3f3f3f;
}

