/*----------------------------------------------INICIO ENCABEZADO CONOCE PLANK------------------------------*/
.nosotros_opciones {
    margin-top: 10px;
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 100px;
}

.nosotros_opciones h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nosotros_opciones-plank {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.quienes_somos {
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.quienes_somos button {
    text-decoration: none;
    color: white;
    margin: 0 0 0 0;
}

.contactanos_sup {
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;

}

.contactanos_sup button {
    text-decoration: none;
    color: white;
}

.espacio-libre {
    margin: 0 0 20px 0;
}

.linea-select {
    border: none;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    margin: 20px 0 0 0;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    /* for button */
    -webkit-appearance: button;
    /* for input */
    -moz-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 768px) {
    .nosotros_opciones {
        padding: 0px 20px 0px 20px;
        flex-direction: column;
        align-items: center;
        height: 112px;
    }

    .nosotros_opciones h1 {
        margin: 10px 0 10px 0;
    }

    .nosotros_opciones-plank {
        display: flex;
    }

    .quienes_somos,
    .contactanos_sup {
        margin: 0px 0px 20px 0px;
    }
}

@media screen and (max-width: 280px) {
    .nosotros_opciones {
        padding: 0px 10px 0px 10px;
        flex-direction: column;
        align-items: center;
        height: 104px;
    }

    .nosotros_opciones h1 {
        margin: 10px 0 10px 0;
        font-size: 100%;
    }

    .nosotros_opciones-plank {
        display: flex;
    }

    .quienes_somos,
    .contactanos_sup {
        margin: 0px 0px 20px 0px;
        font-size: 90%;
    }
}

/*----------------------------------------------FIN ENCABEZADO CONOCE PLANK------------------------------*/
/*----------------------------------------------INICIO QUIENES SOMOS ------------------------------*/
.quienes_somos-contenido {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #000000;
    margin: 2% 2%;
}

.somos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
    border-radius: 10px;
    width: 49%;
}

.somos h1 {
    margin: 4% 0 0 0;

}

.somos .somos-texto {
    margin: 4%;
    background-color: #fff;
    color: #171717;
    border-radius: 5px;
    width: 89%;
}

.somos .somos-texto p {
    margin: 2%;
    text-align: justify;
}

.quienes_somos-imagen {
    display: flex;
    justify-content: center;
    background-color: #000000;
    animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.quienes_somos-imagen img {
    transform: scaleX(-1);
    width: 350px;
}

.somos .somos-texto ul {
    padding-inline-end: 40px;
}

@media screen and (max-width: 768px) {

    .somos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        background-color: #171717;
        border-radius: 10px;
        width: 90%;
    }

    .quienes_somos-imagen {
        display: flex;
        justify-content: center;
        background-color: #000000;
        animation: moveUpDown 3s ease-in-out infinite;
    }

    @keyframes moveUpDown {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-5px);
        }
    }

    .quienes_somos-imagen img {
        transform: scaleX(-1);
        width: 200px;
    }

    .somos .somos-texto ul li p {
        text-align: start;
    }

}

@media screen and (max-width: 280px) {
    .somos .somos-texto p {
        font-size: 80%;
    }

    .quienes_somos-imagen {
        display: flex;
        justify-content: center;
        background-color: #000000;
        animation: moveUpDown 3s ease-in-out infinite;
    }

    @keyframes moveUpDown {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(5px);
        }
    }

    .quienes_somos-imagen img {
        transform: scaleX(-1);
        width: 200px;
    }

    .somos .somos-texto ul li p {
        text-align: start;
    }
}

/*----------------------------------------------FIN QUIENES SOMOS ------------------------------*/
/*----------------------------------------------INICIO CONTACTANOS---------------------------------------*/
.contactanos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactanos_info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

.info_contacto {
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    /* Ancho del textarea */
    height: 80px;
    /* Alto del textarea */

}
.contactanos h1{
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 100%;
}
.contactanos .contactanos_info i {
    font-size: 150%;
    padding: 0 5%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.contactanos .contactanos_info i:hover{
    transform: scale(1.3);
}
.contactanos .hide{
    display: none;
}

.contactanos_redes-icono {
    margin: 20px;
    font-size: 250%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;

}

.contactanos_redes-icono a {
    color: white;
}

@media screen and (max-width: 768px) {
    .contactanos{
        width: 100%;
    }
    .info_contacto {
        background-color: #171717;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 164px;
        /* Ancho del textarea */
        height: 80px;
        /* Alto del textarea */
    }

    .info_contacto i{
        font-size: 200%;
    }

    .info_contacto h1{
        display: none;
        position: absolute;
        background-color: #000000;
        border: 1px solid rgb(255, 255, 255);
        padding: 1%;
        text-align: center;
        font-size: 90%;
    }
}

@media screen and (max-width: 280px) {
    .contactanos{
        width: 100%;
    }
    .info_contacto {
        background-color: #171717;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 120px;
        /* Ancho del textarea */
        height: 80px;
        /* Alto del textarea */
    }

    .info_contacto i{
        font-size: 200%;
    }

    .info_contacto h1{
        display: none;
        position: absolute;
        background-color: #000000;
        border: 1px solid rgb(255, 255, 255);
        padding: 1%;
        text-align: center;
        font-size: 70%;
    }
    .contactanos_redes-icono {
        margin: 20px;
        font-size: 250%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;
    
    }
    
    .contactanos_redes-icono a {
        color: white;
    }
}

/*----------------------------------------------FIN CONTACTANOS---------------------------------------*/
/*----------------------------------------FORMULARIO DE CONTACTO---------------------*/
.formulario_contacto {
    background-color: #171717;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.imagen_formulario img {
    width: 250px;
}

.formulario {
    width: 300px;
    /* Ancho del campo de entrada */
    height: 30px;
    /* Alto del campo de entrada */
    padding: 5px;
    /* Espacio interno */
    border: 1px solid #ccc;
    /* Borde */
    background-color: #f9f9f9;
    /* Color de fondo */
    color: #333;
    /* Color del texto */

    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
}

.formulario-contenido h1 {
    display: flex;
    justify-content: center;
}

select {
    width: 630px;
    /* Ancho del select */
    height: 40px;
    /* Alto del select */
    padding: 5px;
    /* Espacio interno */
    border: 1px solid #ccc;
    /* Borde */
    background-color: #f9f9f9;
    /* Color de fondo */
    color: #333;
    /* Color del texto */
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
}

input::placeholder {
    color: black;
}

textarea::placeholder {
    color: black;
}

textarea {
    width: 616px;
    /* Ancho del textarea */
    height: 100px;
    /* Alto del textarea */
    padding: 5px;
    /* Espacio interno */
    border: 1px solid #ccc;
    /* Borde */
    background-color: #f9f9f9;
    /* Color de fondo */
    color: #000000;
    /* Color del texto */
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;

}

.btn-enviar {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    position: relative;

}

@media screen and (max-width: 768px) {
    .formulario-contenido{
        width: 90%;
    }
    .formulario-contenido h1 {
        display: flex;
        justify-content: center;
        font-size: 100%;
    }
    .formulario-contenido .formulario{
        width: 95%;
    }
    .formulario_comsulta{
        width: 98%;
    }
    .formulario-contenido #mensaje{
        width: 94%;
    }
}

/*----------------------------------------FORMULARIO DE CONTACTO---------------------*/
/*-------------------------------------INICIO CARROUSEL -----------------------------------*/
.container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.nuestros_servicios-titulo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nuestros_servicios-titulo h1 {
    font-weight: bold;
    font-size: 150%;
}

.nuestros-servicios {
    margin: 10px;
}

.nuestros-servicios h2 {
    margin: 10px;
    text-align: center;
}

.body-swiper {
    position: relative;
    height: 100%;
    margin: 10px;
}

.separacion {
    margin: 20px 0px;
}

.swiper {
    width: 90%;
    height: 300px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.swiper-slide img {
    display: block;
    width: 400px;
    height: 250px;
    border-radius: 5px 5px 0 0;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.swiper-slide h1 {
    background-color: #fff;
    color: #171717;
    margin: 0;
    width: 390px;
    padding: 0 5px;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgb(255, 255, 255);
}

.swiper-wrapper .h1-prox {
    background-color: #171717;
    color: #fff;
    border: 1px solid rgb(49, 49, 49);
}

@media screen and (max-width: 768px) {

    .nuestros-servicios h2 {
        margin: 10px;
        text-align: center;
        font-size: 100%;
    }

    .swiper {
        width: 90%;
        height: 210px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 250px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .swiper-slide img {
        display: block;
        width: 250px;
        height: 200px;
        border-radius: 5px 5px 0 0;
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    }

    .swiper-slide h1 {
        background-color: #fff;
        color: #171717;
        margin: 0;
        width: 240px;
        padding: 0 5px;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgb(255, 255, 255);
        font-size: 63%;
    }

    .swiper-wrapper .h1-prox {
        background-color: #171717;
        color: #fff;
        border: 1px solid rgb(49, 49, 49);
    }
}

@media screen and (max-width: 280px) {
    .nuestros-servicios h2 {
        margin: 10px;
        text-align: center;
        font-size: 100%;
    }

    .swiper {
        width: 90%;
        height: 150px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 180px;
        height: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .swiper-slide img {
        display: block;
        width: 180px;
        height: 130px;
        border-radius: 5px 5px 0 0;
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    }

    .swiper-slide h1 {
        background-color: #fff;
        color: #171717;
        margin: 0;
        width: 170px;
        padding: 0 5px;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgb(255, 255, 255);
        font-size: 63%;
    }

    .swiper-wrapper .h1-prox {
        background-color: #171717;
        color: #fff;
        border: 1px solid rgb(49, 49, 49);
    }

}

/*-------------------------------------FIN CARROUSEL -----------------------------------*/